.suo
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/WeatherAPI.pdb
obj/Debug/net6.0/WeatherAPI.dll
bin/Debug/net6.0/WeatherAPI.pdb
bin/Debug/net6.0/WeatherAPI.dll
.vs/WeatherAPI/v17/.suo
.vs/WeatherAPI/v17/.suo
