.suo
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/WeatherAPI.pdb
obj/Debug/net6.0/WeatherAPI.dll
bin/Debug/net6.0/WeatherAPI.pdb
bin/Debug/net6.0/WeatherAPI.dll
.vs/WeatherAPI/v17/.suo
.vs/WeatherAPI/v17/.suo
.vs/WeatherAPI/DesignTimeBuild/.dtbcache.v2
.vs/WeatherAPI/v17/.suo
bin/Debug/net6.0/TestAstroData.json
bin/Debug/net6.0/WeatherAPI.dll
bin/Debug/net6.0/WeatherAPI.pdb
obj/Debug/net6.0/ref/WeatherAPI.dll
obj/Debug/net6.0/refint/WeatherAPI.dll
obj/Debug/net6.0/WeatherAPI.csproj.FileListAbsolute.txt
obj/Debug/net6.0/WeatherAPI.dll
obj/Debug/net6.0/WeatherAPI.pdb
obj/staticwebassets.pack.sentinel
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/WeatherAPI.pdb
obj/Debug/net6.0/WeatherAPI.dll
obj/Debug/net6.0/WeatherAPI.csproj.FileListAbsolute.txt
obj/Debug/net6.0/refint/WeatherAPI.dll
obj/Debug/net6.0/ref/WeatherAPI.dll
bin/Debug/net6.0/WeatherAPI.pdb
bin/Debug/net6.0/WeatherAPI.dll
.vs/WeatherAPI/v17/TestStore/0/000.testlog
.vs/WeatherAPI/v17/.suo
.vs/WeatherAPI/v17/.futdcache.v1
.vs/WeatherAPI/DesignTimeBuild/.dtbcache.v2
